html{

}
body
{
  background: #e9e9e9 !important;
  font-size: 14px;
  color: #444;
}

.disabled
{
    color:#ddd !important;
}

.dvButton
{
    width:100%;
}

.dvAddDetails
{
  padding: 15px 0;
}

.dvWrapper
{
  overflow: auto;
  .dvContent
  {
    .dvList
    {
      .dvFilter
      {
          margin-bottom:10px;
        input{
          width:100%;
          padding: 10px;
        }
      }
      .dvTable
      {
        width: 100%;
        padding: 0;
        overflow: auto;
       .dvRow
       {
         background: #fff;
         padding: 5px 0;
         overflow: auto;
         margin-bottom: 10px;
         .dvImage
         {
           padding: 05px;
           img
           {
             width: 100%;
             height: auto;
           }
         }
         .dvDetails
         {overflow: auto;
           .dvName
           {
             width:100%;
             padding: 5px 0;
           }
           .dvOther
           {
             .dvTag
             {
               padding:  0 !important;
                i{

                }
               span
               {
                 font-size: 12px;
               }
             }
             .dvLink
             {
               padding: 0 !important;
               i{

               }
               span
               {
                 font-size: 12px;
               }
             }
           }
         }
         .dvLike
           {
               overflow: auto;
                cursor:pointer;
            &:hover{
                i{
              color:#000 !important;  
             }
            }
             i{
                
             }
             span
             {
               font-size: 12px;
             }
           }
       }
      }
    }
    .dvForm
    {
      padding: 25px 10px;
      background: #fff;
      .dvRow
      {
        padding: 10px 0;
        .dvTextField
        {
          padding: 10px;
          width:100%;
          border-radius:5px;
          border: 1px solid #ddd;
        }
      }
    }
  }
}
