<div class="dvRow">
    <input type="text" placeholder="title" class="dvTextField" ng-model="frm.formdata.title" />
</div>
<div class="dvRow">
    <input type="text" placeholder="web/url address" class="dvTextField" ng-model="frm.formdata.url" />
</div>
<div class="dvRow">
    <input type="text" placeholder="tag" class="dvTextField" ng-model="frm.formdata.tag" />
</div>
<div class="dvRow">
    <input type="button" value="Push Website" class="btn btn-success dvButton" ng-model="frm.Submit" ng-click="frm.save_data()" />
</div>