<div class="dvFilter">
    <input type="text" placeholder="Search by title, urlor tag" class="dvTextField" ng-model="list.search" />
</div>
<div class="dvTable">
    <div class="dvRow" ng-repeat="rcd in list.data_list | app_filter : list.search">
        <div class="col-xs-2 dvImage">
            <img src="img/placeholder.png" alt="placeholder" />
        </div>
        <div class="col-xs-8 dvDetails">
            <div class="dvName">
                {{rcd.title}}
            </div>
            <div class="dvOther">
                <div class="col-sm-4 dvTag">
                    <i class="fa fa-tag"></i>
                    <span>{{rcd.tag}}</span>
                </div>
                <div class="col-sm-8 dvTag">
                    <i class="fa fa-link"></i>
                    <a href="{{rcd.url}}" target="_blank">{{rcd.url}}</a>
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-right dvLike" ng-click="list.like(rcd)">
            <i ng-class="{'disabled':rcd.count == -1}"  class="fa fa-thumbs-up"></i>
            <span ng-if="rcd.count > -1">{{rcd.count}}</span>
        </div>
    </div>
</div>