<header></header>
<div class="dvContent">
    <div class="container">

        <div class="dvAddDetails">
            <div class="col-sm-push-8 col-sm-4 dvForm" ng-include="'partials/form.html'" ng-controller="form_ctrl as frm">

            </div>
            <div class="col-sm-pull-4  col-sm-8 dvList" ng-include="'partials/list.html'" ng-controller="list_ctrl as list">

            </div>
        </div>
    </div>
</div>
<footer></footer>