body {
  background: #e9e9e9 !important;
  font-size: 14px;
  color: #444;
}
.disabled {
  color: #ddd !important;
}
.dvButton {
  width: 100%;
}
.dvAddDetails {
  padding: 15px 0;
}
.dvWrapper {
  overflow: auto;
}
.dvWrapper .dvContent .dvList .dvFilter {
  margin-bottom: 10px;
}
.dvWrapper .dvContent .dvList .dvFilter input {
  width: 100%;
  padding: 10px;
}
.dvWrapper .dvContent .dvList .dvTable {
  width: 100%;
  padding: 0;
  overflow: auto;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow {
  background: #fff;
  padding: 5px 0;
  overflow: auto;
  margin-bottom: 10px;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvImage {
  padding: 05px;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvImage img {
  width: 100%;
  height: auto;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails {
  overflow: auto;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails .dvName {
  width: 100%;
  padding: 5px 0;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails .dvOther .dvTag {
  padding: 0 !important;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails .dvOther .dvTag span {
  font-size: 12px;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails .dvOther .dvLink {
  padding: 0 !important;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvDetails .dvOther .dvLink span {
  font-size: 12px;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvLike {
  overflow: auto;
  cursor: pointer;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvLike:hover i {
  color: #000 !important;
}
.dvWrapper .dvContent .dvList .dvTable .dvRow .dvLike span {
  font-size: 12px;
}
.dvWrapper .dvContent .dvForm {
  padding: 25px 10px;
  background: #fff;
}
.dvWrapper .dvContent .dvForm .dvRow {
  padding: 10px 0;
}
.dvWrapper .dvContent .dvForm .dvRow .dvTextField {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
}
